/* warna */
:root {
  --primary: #2563eb;
  --secondary: #efefef;
  --success: #22c55e;
  --danger: #ef4444;
  --text: #111827;
  --sidebar: #1e293b;
}

.bg-primar {
  background-color: var(--primary);
}

.bg-yellow {
  background-color: rgb(221, 225, 1);
}

.bg-danger {
  background-color: var(--danger);
}

.bg-gray {
  background-color: rgb(102, 102, 102);
}

.bg-navy {
  background-color: navy;
}

.bg-second {
  background-color: var(--secondary);
}

.bg-white {
  background-color: white;
}

.second {
  color: var(--secondary);
}

.text {
  color: var(--text);
}

.text-success {
  color: var(--success);
}

.text-danger {
  color: var(--danger);
}

.roboto {
  font-family: "roboto", sans-serif;
}
.inter {
  font-family: "inter", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--secondary);
  display: flex;
  align-items: start;
  justify-content: start;
  font-family: "Roboto", sans-serif;
  position: relative;
}

/* login page */

.login-page {
  background-color: var(--primary);
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
}

.card-login {
  width: 400px;
  border-radius: 10px;
  background-color: var(--secondary);
}

.input-bar {
  background-color: white;
  border: 1px solid var(--text);
  color: var(--text);
  padding: 10px 0px;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputan {
  width: 100%;
  outline: none;
  border: none;
}

.input-search {
  width: 400px;
  border: 2px solid var(--text);
  padding-left: 10px;
}

/* beranda */

/* notifikasi */

.notif-alert {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 12px;
  height: 12px;
  background-color: var(--danger);
  border-radius: 50%;
  z-index: 100;
}

/* notif profil */
.card-profil {
  position: absolute;
  top: 100px;
  gap: 20px;
  right: 50px;
  width: 150px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #1118273c;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 15px;
  transform: translateX(400px);
  transition: transform 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

.card-profil a:hover {
  cursor: pointer;
  color: #2563eb;
}

.card-profil.active {
  transform: translateX(0);
}

/* notif log out */
.notif {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #111827a3;
  transform: scale(0);
  z-index: 500;
}

.notif.active {
  display: flex;
  transform: scale(1);
}

.card-notif {
  width: 30%;
  background-color: var(--secondary);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  font-size: 20px;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

.card-notif.active {
  transform: scale(1);
}

.btn-alert {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--secondary);
  cursor: pointer;
  transition: 0.3s;
}

.btn-alert:hover {
  opacity: 0.6;
}

.logout:hover {
  cursor: pointer;
  color: var(--danger);
}

/* navbar */
.navbarnav {
  background-color: var(--primary);
  border-right: 1px solid var(--sidebar);
}

hr {
  width: 100%;
  border: 5px solid var(--sidebar);
  color: var(--sidebar);
}

.absensi {
  width: 100%;
  color: var(--text);
  cursor: pointer;
  transition: 0.3s ease;
}

.absensi.active {
  background-color: var(--sidebar);
  color: var(--secondary);
}

.absensi:hover {
  background-color: var(--sidebar);
}

.danger {
  width: 100%;
  color: var(--text);
  cursor: pointer;
  transition: 0.3s ease-out;
}
.danger:hover {
  background-color: var(--danger);
}

/* home */
.section {
  display: none;
}

.section.active {
  display: flex;
}

.notifikasi {
  transition: 0.3s;
}
.notifikasi:hover {
  cursor: pointer;
  background-color: #11182732;
}

/* dsaboard */

.tabel-dasboard {
  height: 375px;
}
.card-status {
  width: 180px;
}

.card-status:hover {
  background-color: #1c51c4;
  cursor: pointer;
}

.table-scroll {
  overflow-y: auto;
  width: 100%;
}

.table-scroll::-webkit-scrollbar {
  width: 0;
}

table {
  border-radius: 10px;
  background-color: var(--primary);
}

th {
  color: var(--secondary);
  padding: 5px 0px;
}

th {
  color: var(--secondary);
  padding: 5px 0px;
}
td {
  padding: 10px 0px;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #e9e5e5; /* warna untuk kolom ganjil */
}
tr:nth-child(even) {
  background-color: #cecece; /* warna untuk kolom genap */ /* warna untuk kolom ganjil */
}

/* aksi cepat */

.border-primar {
  transition: 0.3s !important;
}

.border-primar:hover {
  border: 2px solid var(--primary) !important;
}

.tool {
  border-radius: 5px;
}

.tool:hover {
  background-color: #1c51c4;
  cursor: pointer;
  color: var(--secondary);
}

/* absensi */

.card-absen {
  width: 100%;

  transition: 0.3s;
  cursor: pointer;
}

.card-absen:hover {
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5);
}

.tabel-absen {
  height: 375px;
}

.scroll-absensi {
  overflow: auto;

  height: 450px;
}

.scroll-absensi::-webkit-scrollbar {
  height: 8px;
}
.scroll-absensi::-webkit-scrollbar:vertical {
  display: none;
}

.scroll-absensi::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-absensi::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.scroll-absensi:hover::-webkit-scrollbar-thumb {
  background: var(--primary);
}

.scroll-absensi:hover::-webkit-scrollbar-track {
  background: #d0cfcf;
}

.table-absensi {
  min-width: 150%;
}

/*  data karywan */
.btn-edit {
  cursor: pointer;
  transition: 0.3s;
}

.btn-edit:hover {
  opacity: 0.8;
}

/* pengaturan */

.Pengaturan {
  padding: 10px 10px;
  text-align: end;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.Pengaturan:hover {
  color: var(--primary);
}
